<!-- INCLUDE overall_header.html -->
<!-- INCLUDECSS @athc_coinmarketwidget/css/style.css -->
<!-- INCLUDECSS https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css -->

<a id="maincontent"></a>

<!-- IF S_EDIT_WORD -->

	<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

	<h1>{L_ACP_COINMARKET_TITLE}</h1>

	<p>{L_ACP_COINMARKET_EXPLAIN}</p>

	<form id="athc_coinmarketwidget_settings" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{L_EDIT_WIDGET}</legend>
		<dl>
			<dt><label for="topic">{L_TOPIC_TITLE}</label></dt>
			<dd>
				<select id="topic" name="topic" class="js-select2-single">
				<!-- BEGIN forums -->
					<optgroup label="{forums.FORUM_NAME}">
					<!-- BEGIN topics -->
						<option value="{forums.topics.TOPIC_ID}" <!-- IF forums.topics.TOPIC_ID eq forums.topics.TOPIC_SELECTED -->selected<!-- ENDIF -->>{forums.topics.TOPIC_TITLE}</option>
					<!-- END topics -->
					</optgroup>
				<!-- END forums -->
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="coin">{L_COIN_NAME}</label></dt>
			<dd>
				<select id="coin" name="coin" class="js-select2-single">
					<!-- BEGIN coins -->
					<option value="{coins.COIN_ID}" <!-- IF coins.COIN_ID eq coins.COIN_SELECTED -->selected<!-- ENDIF -->>{coins.COIN_NAME}</option>
					<!-- END coins -->
				</select>
			</dd>
		</dl>
		{S_HIDDEN_FIELDS}

	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="save" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</p>
	</fieldset>
	</form>

<!-- ELSE -->

	<h1>{L_ACP_COINMARKET_TITLE}</h1>

	<p>{L_ACP_COINMARKET_EXPLAIN}</p>

	<form id="athc_coinmarketwidget_settings" method="post" action="{U_ACTION}">

	<fieldset class="tabulated">
	<legend>{L_ACP_COINMARKET_WIDGETS}</legend>
	<p class="quick">
		{S_HIDDEN_FIELDS}
		<input class="button2" name="add" type="submit" value="{L_ADD_WIDGET}" />
	</p>

	<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{L_FORUM_TITLE}</th>
		<th>{L_TOPIC_TITLE}</th>
		<th>{L_COIN_NAME}</th>
		<th>{L_ACTION}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN widgets -->
	<tr>
		<td>{widgets.FORUM_NAME}</td>
		<td>{widgets.TOPIC_TITLE}</td>
		<td>{widgets.COIN_NAME}</td>
		<td>&nbsp;<a href="{widgets.U_EDIT}">{ICON_EDIT}</a>&nbsp;&nbsp;<a href="{widgets.U_DELETE}" data-ajax="row_delete">{ICON_DELETE}</a>&nbsp;</td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="row4">
		<td colspan="4">{L_ACP_NO_ITEMS}</td>
	</tr>
	<!-- END widgets -->
	</tbody>
	</table>
	{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->

<!-- INCLUDEJS https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js -->
<!-- INCLUDEJS @athc_coinmarketwidget/script.js -->
<!-- INCLUDE overall_footer.html -->
